[submodule "எசெ"]
	path = எசெ
	url = https://github.com/247i/DigitalMars.git
[submodule "நிம்"]
	path = நிம்
	url = https://github.com/247i/Nim.git
[submodule "சுஎநிஅ"]
	path = சுஎநிஅ
	url = https://github.com/247i/NSIS.git
[submodule "குறியீடுதொகுதிகள்"]
	path = குறியீடுதொகுதிகள்
	url = https://github.com/247i/CodeBlocks.git
[submodule "இடைமறைப்பு"]
	path = இடைமறைப்பு
	url = https://github.com/247i/Eclipse.git
