[submodule "எசெ"]
	path = எசெ
	url = https://github.com/247i/DigitalMars.git
[submodule "நிம்"]
	path = நிம்
	url = https://github.com/247i/Nim.git
[submodule "சுஎநிஅ"]
	path = சுஎநிஅ
	url = https://github.com/247i/NSIS.git
[submodule "குறியீடுதொகுதிகள்"]
	path = குறியீடுதொகுதிகள்
	url = https://github.com/247i/CodeBlocks.git
[submodule "இடைமறைப்பு"]
	path = இடைமறைப்பு
	url = https://github.com/247i/Eclipse.git
[submodule "எழில்"]
	path = எழில்
	url = https://github.com/247i/Ezhil.git
[submodule "பசிபிக்சி"]
	path = பசிபிக்சி
	url = https://github.com/247i/PacificC.git
[submodule "சாவா"]
	path = சாவா
	url = https://github.com/247i/Java.git
[submodule "மாணிக்கம்"]
	path = மாணிக்கம்
	url = https://github.com/247i/Ruby.git
[submodule "சுவி-நிரல்தர்க்கம்"]
	path = சுவி-நிரல்தர்க்கம்
	url = https://github.com/247i/Prolog.git
[submodule "கூர்உருவாக்கி"]
	path = கூர்உருவாக்கி
	url = https://github.com/247i/SharpDevelop.git
[submodule "எண்கோணம்"]
	path = எண்கோணம்
	url = https://github.com/247i/octave.git
[submodule "வளர்-சி++"]
	path = வளர்-சி++
	url = https://github.com/247i/DevC.git
[submodule "கவிமொழிமனிதன்"]
	path = கவிமொழிமனிதன்
	url = https://github.com/247i/SQLiteMan.git
[submodule "முத்து"]
	path = முத்து
	url = https://github.com/247i/perl.git
[submodule ".பிணை"]
	path = .பிணை
	url = https://github.com/247i/.net.git
[submodule "தோனி"]
	path = தோனி
	url = https://github.com/247i/Thonny.git
[submodule "முனையம்"]
	path = முனையம்
	url = https://github.com/247i/node
